In [1]:
%reload_ext autoreload
%autoreload

In [2]:
import numpy as np
from time import time

In [3]:
import cProfile
import pstats
import allel
import pandas as pd

In [4]:
%aimport malariagen_data.ag3

In [5]:
%aimport malariagen_data.veff

In [6]:
veff = malariagen_data.veff

In [7]:
ag3 = malariagen_data.Ag3("simplecache::gs://vo_agam_release", simplecache=dict(cache_storage="gcs_cache"))

In [35]:
genome = ag3.open_genome()
genome

In [54]:
list(genome)

['2L', '2R', '3L', '3R', 'Mt', 'UNKN', 'X', 'Y_unplaced']

In [55]:
genome["3R"][0:10].tobytes().decode()

'CCTCTACGTT'

In [8]:
geneset = ag3.geneset()
geneset

,seqid,source,type,start,end,score,strand,phase,ID,Parent,Name
0,2L,VectorBase,chromosome,1,49364325,NaN,NaN,NaN,2L,NaN,NaN
1,2L,VectorBase,gene,157348,186936,NaN,-,NaN,AGAP004677,NaN,NaN
2,2L,VectorBase,mRNA,157348,181305,NaN,-,NaN,AGAP004677-RA,AGAP004677,NaN
3,2L,VectorBase,three_prime_UTR,157348,157495,NaN,-,NaN,NaN,AGAP004677-RA,NaN
4,2L,VectorBase,exon,157348,157623,NaN,-,NaN,NaN,AGAP004677-RA,AGAP004677-RB-E4
...,...,...,...,...,...,...,...,...,...,...,...
196140,Y_unplaced,VectorBase,five_prime_UTR,47932,48111,NaN,+,NaN,NaN,AGAP029375-RA,NaN
196141,Y_unplaced,VectorBase,exon,47932,48138,NaN,+,NaN,NaN,AGAP029375-RA,AGAP029375-RA-E2
196142,Y_unplaced,VectorBase,CDS,48112,48138,NaN,+,0.0,AGAP029375-PA,AGAP029375-RA,NaN
196143,Y_unplaced,VectorBase,exon,48301,48385,NaN,+,NaN,NaN,AGAP029375-RA,AGAP029375-RA-E3
196144,Y_unplaced,VectorBase,CDS,48301,48385,NaN,+,0.0,AGAP029375-PA,AGAP029375-RA,NaN

In [11]:
geneset[geneset.Parent == 'AGAP004679-RB']

,seqid,source,type,start,end,score,strand,phase,ID,Parent,Name
34,2L,VectorBase,exon,207894,207953,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E1
35,2L,VectorBase,five_prime_UTR,207894,207953,NaN,+,NaN,NaN,AGAP004679-RB,NaN
36,2L,VectorBase,five_prime_UTR,208393,208416,NaN,+,NaN,NaN,AGAP004679-RB,NaN
37,2L,VectorBase,exon,208393,208581,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E2
38,2L,VectorBase,CDS,208417,208581,NaN,+,0.0,AGAP004679-PB,AGAP004679-RB,NaN
39,2L,VectorBase,exon,208639,208824,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E3
40,2L,VectorBase,CDS,208639,208824,NaN,+,0.0,AGAP004679-PB,AGAP004679-RB,NaN
41,2L,VectorBase,exon,208897,209394,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E4
42,2L,VectorBase,CDS,208897,209394,NaN,+,0.0,AGAP004679-PB,AGAP004679-RB,NaN
43,2L,VectorBase,exon,209473,209816,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E5
44,2L,VectorBase,CDS,209473,209816,NaN,+,0.0,AGAP004679-PB,AGAP004679-RB,NaN
45,2L,VectorBase,CDS,209877,210276,NaN,+,1.0,AGAP004679-PB,AGAP004679-RB,NaN
46,2L,VectorBase,exon,209877,210460,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E6
47,2L,VectorBase,three_prime_UTR,210277,210460,NaN,+,NaN,NaN,AGAP004679-RB,NaN

In [63]:
%%time
# this will take some time, loading gff, one-off cost
ann = veff.Annotator(
    genome=genome,
    geneset=geneset,
)

CPU times: user 27.7 s, sys: 130 ms, total: 27.8 s
Wall time: 27.8 s

In [79]:
%%time
for effect in ann.get_effects(chrom='2L', pos=2422652, ref='A', alt='T',
                                  transcript_ids=["AGAP004707-RD"]):
       print(effect)

VariantEffect(effect='NON_SYNONYMOUS_CODING', impact='MODERATE', chrom='2L', pos=2422652, ref='A', alt='T', vlen=0, ref_start=2422652, ref_stop=2422652, gene_id='AGAP004707', gene_start=2358158, gene_stop=2431617, gene_strand='+', transcript_id='AGAP004707-RD', transcript_start=2358158, transcript_stop=2431617, transcript_strand='+', cds_id='AGAP004707-PD', cds_start=2422468, cds_stop=2422655, cds_strand='+', intron_start=None, intron_stop=None, intron_5prime_dist=None, intron_3prime_dist=None, intron_cds_5prime=None, intron_cds_3prime=None, ref_cds_start=2984, ref_cds_stop=2984, ref_intron_start=None, ref_intron_stop=None, ref_start_phase=2, ref_codon='ttA', alt_codon='ttT', codon_change='ttA/ttT', aa_pos=995, ref_aa='L', alt_aa='F', aa_change='L995F')
CPU times: user 1.4 ms, sys: 0 ns, total: 1.4 ms
Wall time: 1.37 ms

In [24]:
for a in effect:
    print(a)

NON_SYNONYMOUS_CODING
MODERATE
2L
2422652
A
T
0
2422652
2422652
AGAP004707
2358158
2431617
+
AGAP004707-RD
2358158
2431617
+
AGAP004707-PD
2422468
2422655
+
None
None
None
None
None
None
2984
2984
None
None
2
ttA
ttT
ttA/ttT
995
L
F
L995F

In [25]:
effect.effect, effect.impact

('NON_SYNONYMOUS_CODING', 'MODERATE')

In [26]:
effect.ref_codon, effect.alt_codon

('ttA', 'ttT')

In [27]:
effect.aa_pos, effect.ref_aa, effect.alt_aa, effect.aa_change

(995, 'L', 'F', 'L995F')

In [28]:
type(effect.aa_pos)

int

In [29]:
pos, ref, alt = ag3.snp_sites('2L')

In [30]:
import allel

In [31]:
start_idx = allel.SortedIndex(pos).locate_key(2429745)
start_idx

2150929

In [32]:
pp = pos[start_idx:start_idx+100].compute()
rr = ref[start_idx:start_idx+100].compute()
aaa = alt[start_idx:start_idx+100].compute()

In [33]:
def testf(n, show=False):
    # loop over sites
    for i, (p, r, aa) in enumerate(zip(pp, rr, aaa)):
        if i < n:
            # loop over alt alleles
            for a in aa:
                for effect in ann.get_effects(chrom='2L', pos=p, ref=r.decode(), alt=a.decode(),
                                              transcript_ids=["AGAP004707-RA"]):
                    if show:
                        print(effect)

In [34]:
%%time
testf(20)

CPU times: user 50.7 ms, sys: 88 Âµs, total: 50.8 ms
Wall time: 49.7 ms

In [35]:
%%time
x = ref.compute()

CPU times: user 1.23 s, sys: 168 ms, total: 1.4 s
Wall time: 4.12 s

In [36]:
x.nbytes

48525747

In [37]:
cProfile.run('testf(100)', sort='cumtime')

         468523 function calls (464545 primitive calls) in 0.239 seconds

   Ordered by: cumulative time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.239    0.239 {built-in method builtins.exec}
        1    0.000    0.000    0.239    0.239 <string>:1(<module>)
        1    0.001    0.001    0.239    0.239 <ipython-input-33-ac85f549eef5>:1(testf)
      600    0.001    0.000    0.238    0.000 veff.py:134(get_effects)
      600    0.002    0.000    0.139    0.000 veff.py:219(_get_gene_effects)
      600    0.005    0.000    0.128    0.000 veff.py:257(_get_transcript_effects)
      600    0.002    0.000    0.120    0.000 veff.py:324(_get_within_transcript_effects)
      300    0.000    0.000    0.085    0.000 veff.py:57(find)
      300    0.000    0.000    0.085    0.000 intervals.py:216(search)
      300    0.001    0.000    0.084    0.000 intervals.py:190(_search_tree)
      300    0.001    0.000    0.062    0.000 intervaltree.py:837(overlap)
 4284/306    0.022    0.000    0.058    0.000 node.py:309(search_point)
   105747    0.042    0.000    0.053    0.000 base.py:570(__getattr__)
      171    0.002    0.000    0.037    0.000 veff.py:405(_get_cds_effect)
     9036    0.012    0.000    0.036    0.000 {method 'add' of 'set' objects}
      771    0.008    0.000    0.035    0.000 {built-in method builtins.sorted}
      171    0.001    0.000    0.033    0.000 veff.py:450(_get_within_cds_effect)
      171    0.001    0.000    0.031    0.000 veff.py:602(_get_aa_change)
      300    0.017    0.000    0.026    0.000 veff.py:355(<listcomp>)
      171    0.002    0.000    0.023    0.000 veff.py:630(_get_codon_change)
    84273    0.021    0.000    0.021    0.000 interval.py:159(__eq__)
      171    0.002    0.000    0.019    0.000 veff.py:707(_get_coding_position)
    33030    0.005    0.000    0.016    0.000 interval.py:204(__lt__)
      300    0.006    0.000    0.014    0.000 veff.py:341(<listcomp>)
      300    0.006    0.000    0.014    0.000 veff.py:333(<listcomp>)
   111048    0.012    0.000    0.012    0.000 {method 'index' of 'list' objects}
    33030    0.011    0.000    0.011    0.000 interval.py:173(__cmp__)
      129    0.001    0.000    0.009    0.000 veff.py:748(_get_intron_effect)
      300    0.009    0.000    0.009    0.000 veff.py:359(<listcomp>)
      129    0.001    0.000    0.008    0.000 veff.py:784(_get_within_intron_effect)
      300    0.003    0.000    0.008    0.000 veff.py:186(<listcomp>)
     9000    0.003    0.000    0.008    0.000 veff.py:337(<lambda>)
      171    0.003    0.000    0.008    0.000 veff.py:720(<listcomp>)
      342    0.002    0.000    0.007    0.000 Seq.py:918(translate)
     1677    0.001    0.000    0.006    0.000 <string>:24(_replace)
      342    0.002    0.000    0.005    0.000 Seq.py:2223(_translate_str)
     1677    0.001    0.000    0.005    0.000 <string>:16(_make)
      171    0.002    0.000    0.004    0.000 veff.py:716(<listcomp>)
      471    0.002    0.000    0.004    0.000 veff.py:71(get_ref_allele_coords)
     1677    0.004    0.000    0.004    0.000 {built-in method __new__ of type object at 0x9d12c0}
     5130    0.003    0.000    0.004    0.000 base.py:557(__getitem__)
      300    0.001    0.000    0.004    0.000 veff.py:248(<listcomp>)
      300    0.001    0.000    0.003    0.000 veff.py:233(<listcomp>)
      129    0.001    0.000    0.003    0.000 veff.py:798(<listcomp>)
      129    0.001    0.000    0.003    0.000 veff.py:801(<listcomp>)
     9036    0.002    0.000    0.003    0.000 interval.py:151(__hash__)
      342    0.001    0.000    0.003    0.000 Seq.py:2300(<listcomp>)
      870    0.002    0.000    0.003    0.000 veff.py:60(get_ref_seq)
      600    0.001    0.000    0.003    0.000 sortedlist.py:1166(bisect_left)
     3420    0.001    0.000    0.002    0.000 CodonTable.py:400(__contains__)
     1200    0.002    0.000    0.002    0.000 {built-in method _bisect.bisect_left}
     3762    0.001    0.000    0.001    0.000 CodonTable.py:418(__getitem__)
     8262    0.001    0.000    0.001    0.000 node.py:505(__getitem__)
      300    0.000    0.000    0.001    0.000 node.py:300(search_overlap)
     9036    0.001    0.000    0.001    0.000 {built-in method builtins.hash}
     6504    0.001    0.000    0.001    0.000 {built-in method builtins.isinstance}
      300    0.001    0.000    0.001    0.000 intervals.py:218(<listcomp>)
     6450    0.000    0.000    0.000    0.000 {built-in method builtins.len}
      684    0.000    0.000    0.000    0.000 Seq.py:74(__init__)
      870    0.000    0.000    0.000    0.000 {method 'tobytes' of 'numpy.ndarray' objects}
     1470    0.000    0.000    0.000    0.000 {method 'decode' of 'bytes' objects}
      300    0.000    0.000    0.000    0.000 {method 'update' of 'set' objects}
     1626    0.000    0.000    0.000    0.000 {method 'upper' of 'str' objects}
      600    0.000    0.000    0.000    0.000 veff.py:54(get_children)
     1341    0.000    0.000    0.000    0.000 {method 'lower' of 'str' objects}
      684    0.000    0.000    0.000    0.000 Seq.py:111(__str__)
      306    0.000    0.000    0.000    0.000 intervaltree.py:861(<genexpr>)
      171    0.000    0.000    0.000    0.000 {built-in method builtins.sum}
      600    0.000    0.000    0.000    0.000 sortedlist.py:520(_loc)
      129    0.000    0.000    0.000    0.000 {built-in method builtins.min}
      342    0.000    0.000    0.000    0.000 {method 'append' of 'list' objects}
      342    0.000    0.000    0.000    0.000 {method 'join' of 'str' objects}
        6    0.000    0.000    0.000    0.000 sorteddict.py:650(__getitem__)
        6    0.000    0.000    0.000    0.000 sortedlist.py:816(__getitem__)
        6    0.000    0.000    0.000    0.000 sorteddict.py:329(keys)
        6    0.000    0.000    0.000    0.000 _collections_abc.py:698(__init__)
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [38]:
cProfile.run('testf(20)', sort='time')

         118564 function calls (117784 primitive calls) in 0.063 seconds

   Ordered by: internal time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
    22620    0.010    0.000    0.012    0.000 base.py:570(__getattr__)
    25020    0.007    0.000    0.007    0.000 interval.py:159(__eq__)
   840/60    0.005    0.000    0.017    0.000 node.py:309(search_point)
     2460    0.004    0.000    0.012    0.000 {method 'add' of 'set' objects}
       60    0.004    0.000    0.006    0.000 veff.py:355(<listcomp>)
     9960    0.003    0.000    0.003    0.000 interval.py:173(__cmp__)
    24480    0.003    0.000    0.003    0.000 {method 'index' of 'list' objects}
      180    0.002    0.000    0.010    0.000 {built-in method builtins.sorted}
       60    0.002    0.000    0.002    0.000 veff.py:359(<listcomp>)
     9960    0.002    0.000    0.005    0.000 interval.py:204(__lt__)
       60    0.001    0.000    0.003    0.000 veff.py:333(<listcomp>)
       60    0.001    0.000    0.003    0.000 veff.py:341(<listcomp>)
      120    0.001    0.000    0.031    0.000 veff.py:257(_get_transcript_effects)
       60    0.001    0.000    0.003    0.000 veff.py:720(<listcomp>)
     1800    0.001    0.000    0.001    0.000 base.py:557(__getitem__)
       60    0.001    0.000    0.002    0.000 veff.py:186(<listcomp>)
      360    0.001    0.000    0.001    0.000 {built-in method __new__ of type object at 0x9d12c0}
      120    0.001    0.000    0.002    0.000 Seq.py:2223(_translate_str)
      120    0.001    0.000    0.001    0.000 veff.py:71(get_ref_allele_coords)
       60    0.001    0.000    0.013    0.000 veff.py:405(_get_cds_effect)
     1800    0.001    0.000    0.002    0.000 veff.py:337(<lambda>)
       60    0.001    0.000    0.008    0.000 veff.py:630(_get_codon_change)
      264    0.001    0.000    0.001    0.000 veff.py:60(get_ref_seq)
     2460    0.001    0.000    0.001    0.000 interval.py:151(__hash__)
      120    0.001    0.000    0.003    0.000 Seq.py:918(translate)
       60    0.001    0.000    0.002    0.000 veff.py:716(<listcomp>)
     1200    0.001    0.000    0.001    0.000 CodonTable.py:400(__contains__)
       60    0.001    0.000    0.007    0.000 veff.py:707(_get_coding_position)
        1    0.000    0.000    0.063    0.063 <ipython-input-33-ac85f549eef5>:1(testf)
      120    0.000    0.000    0.029    0.000 veff.py:324(_get_within_transcript_effects)
       60    0.000    0.000    0.012    0.000 veff.py:450(_get_within_cds_effect)
      360    0.000    0.000    0.002    0.000 <string>:24(_replace)
     1320    0.000    0.000    0.000    0.000 CodonTable.py:418(__getitem__)
      120    0.000    0.000    0.062    0.001 veff.py:134(get_effects)
       60    0.000    0.000    0.025    0.000 intervals.py:190(_search_tree)
       60    0.000    0.000    0.001    0.000 veff.py:233(<listcomp>)
      240    0.000    0.000    0.000    0.000 {built-in method _bisect.bisect_left}
       60    0.000    0.000    0.001    0.000 veff.py:248(<listcomp>)
      120    0.000    0.000    0.033    0.000 veff.py:219(_get_gene_effects)
       60    0.000    0.000    0.011    0.000 veff.py:602(_get_aa_change)
      120    0.000    0.000    0.001    0.000 Seq.py:2300(<listcomp>)
       60    0.000    0.000    0.018    0.000 intervaltree.py:837(overlap)
     2280    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
      120    0.000    0.000    0.001    0.000 sortedlist.py:1166(bisect_left)
      360    0.000    0.000    0.001    0.000 <string>:16(_make)
     2460    0.000    0.000    0.000    0.000 {built-in method builtins.hash}
       60    0.000    0.000    0.000    0.000 intervals.py:218(<listcomp>)
      240    0.000    0.000    0.000    0.000 Seq.py:74(__init__)
     1584    0.000    0.000    0.000    0.000 {built-in method builtins.len}
     1620    0.000    0.000    0.000    0.000 node.py:505(__getitem__)
       60    0.000    0.000    0.025    0.000 intervals.py:216(search)
       60    0.000    0.000    0.000    0.000 node.py:300(search_overlap)
      264    0.000    0.000    0.000    0.000 {method 'tobytes' of 'numpy.ndarray' objects}
      120    0.000    0.000    0.000    0.000 veff.py:54(get_children)
      384    0.000    0.000    0.000    0.000 {method 'decode' of 'bytes' objects}
      384    0.000    0.000    0.000    0.000 {method 'lower' of 'str' objects}
        1    0.000    0.000    0.063    0.063 {built-in method builtins.exec}
      480    0.000    0.000    0.000    0.000 {method 'upper' of 'str' objects}
       60    0.000    0.000    0.025    0.000 veff.py:57(find)
      240    0.000    0.000    0.000    0.000 Seq.py:111(__str__)
       60    0.000    0.000    0.000    0.000 {built-in method builtins.sum}
      120    0.000    0.000    0.000    0.000 {method 'join' of 'str' objects}
       60    0.000    0.000    0.000    0.000 intervaltree.py:861(<genexpr>)
      120    0.000    0.000    0.000    0.000 sortedlist.py:520(_loc)
      120    0.000    0.000    0.000    0.000 {method 'append' of 'list' objects}
       60    0.000    0.000    0.000    0.000 {method 'update' of 'set' objects}
        1    0.000    0.000    0.063    0.063 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [39]:
ann.get_feature("AGAP004707-RD")

('2L',
 'VectorBase',
 'mRNA',
 2358158,
 2431617,
 nan,
 '+',
 nan,
 'AGAP004707-RD',
 'AGAP004707',
 nan)

In [40]:
ann.get_children("AGAP004707")

[('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RA',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RB',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RC',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RD',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RE',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RF',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RG',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RH',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RI',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RJ',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RK',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RL',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RM',
  'AGAP004707',
  nan)]

In [41]:
ann.find("2L", 2358158, 2358159)

[('2L',
  'VectorBase',
  'chromosome',
  1,
  49364325,
  nan,
  nan,
  nan,
  '2L',
  nan,
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PE',
  'AGAP004707-RE',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PK',
  'AGAP004707-RK',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PI',
  'AGAP004707-RI',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PA',
  'AGAP004707-RA',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PB',
  'AGAP004707-RB',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PD',
  'AGAP004707-RD',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PJ',
  'AGAP004707-RJ',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PL',
  'AGAP004707-RL',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PM',
  'AGAP004707-RM',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PF',
  'AGAP004707-RF',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PG',
  'AGAP004707-RG',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PH',
  'AGAP004707-RH',
  nan),
 ('2L',
  'VectorBase',
  'CDS',
  2358158,
  2358304,
  nan,
  '+',
  0.0,
  'AGAP004707-PC',
  'AGAP004707-RC',
  nan),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RL',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RB',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RD',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RE',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RJ',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RK',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RM',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RF',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RG',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RH',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RI',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RA',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'exon',
  2358158,
  2358304,
  nan,
  '+',
  nan,
  nan,
  'AGAP004707-RC',
  'AGAP004707-RA-E1'),
 ('2L',
  'VectorBase',
  'gene',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707',
  nan,
  'para'),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RJ',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RK',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RL',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RM',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RB',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RA',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RC',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RD',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RE',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RF',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RG',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RH',
  'AGAP004707',
  nan),
 ('2L',
  'VectorBase',
  'mRNA',
  2358158,
  2431617,
  nan,
  '+',
  nan,
  'AGAP004707-RI',
  'AGAP004707',
  nan)]

# ag3.snp_effects appears to work for vgsc and some other genes but most genes seem to fail
- the number of effects is less than the number of rows of positions

#### run veff locally and try to debug

In [67]:
genome = ag3.open_genome()
genome

In [13]:
gste2 = 'AGAP009194-RA'
site_mask = 'gamb_colu'

In [70]:
geneset[geneset.Parent == gste2]

,seqid,source,type,start,end,score,strand,phase,ID,Parent,Name
155981,3R,VectorBase,three_prime_UTR,28597652,28597750,NaN,-,NaN,NaN,AGAP009194-RA,NaN
155982,3R,VectorBase,exon,28597652,28598071,NaN,-,NaN,NaN,AGAP009194-RA,AGAP009194-RA-E3
155983,3R,VectorBase,CDS,28597751,28598071,NaN,-,0.0,AGAP009194-PA,AGAP009194-RA,NaN
155984,3R,VectorBase,exon,28598162,28598362,NaN,-,NaN,NaN,AGAP009194-RA,AGAP009194-RA-E2
155985,3R,VectorBase,CDS,28598162,28598362,NaN,-,0.0,AGAP009194-PA,AGAP009194-RA,NaN
155986,3R,VectorBase,CDS,28598437,28598580,NaN,-,0.0,AGAP009194-PA,AGAP009194-RA,NaN
155987,3R,VectorBase,exon,28598437,28598640,NaN,-,NaN,NaN,AGAP009194-RA,AGAP009194-RA-E1
155988,3R,VectorBase,five_prime_UTR,28598581,28598640,NaN,-,NaN,NaN,AGAP009194-RA,NaN

In [78]:
%%time
for effect in ann.get_effects(chrom='3R', pos=28598166, ref='A', alt='G',
                                  transcript_ids=[gste2]):
       print(effect)

VariantEffect(effect='NON_SYNONYMOUS_CODING', impact='MODERATE', chrom='3R', pos=28598166, ref='A', alt='G', vlen=0, ref_start=28598166, ref_stop=28598166, gene_id='AGAP009194', gene_start=28597652, gene_stop=28598640, gene_strand='-', transcript_id='AGAP009194-RA', transcript_start=28597652, transcript_stop=28598640, transcript_strand='-', cds_id='AGAP009194-PA', cds_start=28598162, cds_stop=28598362, cds_strand='-', intron_start=None, intron_stop=None, intron_5prime_dist=None, intron_3prime_dist=None, intron_cds_5prime=None, intron_cds_3prime=None, ref_cds_start=340, ref_cds_stop=340, ref_intron_start=None, ref_intron_stop=None, ref_start_phase=1, ref_codon='aTt', alt_codon='aCt', codon_change='aTt/aCt', aa_pos=114, ref_aa='I', alt_aa='T', aa_change='I114T')
CPU times: user 1.24 ms, sys: 0 ns, total: 1.24 ms
Wall time: 1.25 ms

In [124]:
feature = ann.get_feature(gste2)
#feature = ann.get_feature('AGAP004707-RA')
contig = feature[0]
start = feature[3]
stop = feature[4]
strand = feature[6]

In [125]:
feature

('3R',
 'VectorBase',
 'mRNA',
 28597652,
 28598640,
 nan,
 '-',
 nan,
 'AGAP009194-RA',
 'AGAP009194',
 nan)

In [84]:
sites = ag3.snp_sites(contig=contig, site_mask=site_mask)

In [88]:
# sites are dask arrays, turn pos into sorted index
pos = allel.SortedIndex(sites[0].compute())
# locate transcript range
loc = pos.locate_range(start, stop)
# dask compute on the sliced arrays to speed things up
ref = sites[1][loc].compute()
alt = sites[2][loc].compute()

In [126]:
loc

slice(21899777, 21900723, None)

In [92]:
df_in = pd.DataFrame()
df_in["position"] = np.asarray(pos[loc])
df_in["ref_allele"] = [q.tobytes().decode() for q in np.asarray(ref)]
# bytes within lists within lists...
df_in["alt_alleles"] = [list(q.tobytes().decode()) for q in list(alt)]

In [100]:
df_in.shape[0] *3

2838

In [97]:
#explode
df_effects = df_in.explode("alt_alleles").reset_index(drop=True)

In [98]:
df_effects.shape

(2838, 3)

In [102]:
df_effects

      position ref_allele alt_alleles
0     28597652          G           A
1     28597652          G           C
2     28597652          G           T
3     28597653          A           C
4     28597653          A           T
...        ...        ...         ...
2833  28598638          C           T
2834  28598638          C           G
2835  28598639          C           A
2836  28598639          C           T
2837  28598639          C           G

[2838 rows x 3 columns]

In [111]:
leffect = []
limpact = []
lref_codon = []
lalt_codon = []
laa_pos = []
lref_aa = []
lalt_aa = []
laa_change = []
lpos = []

pos = []

for row in df_effects.itertuples(index=True):
    pos.append(row.position)
    for effect in ann.get_effects(
        chrom=contig,
        pos=row.position,
        ref=row.ref_allele,
        alt=row.alt_alleles,
        transcript_ids=[gste2],
    ):

        leffect.append(effect.effect)
        lpos.append(effect.ref_start)
        limpact.append(effect.impact)
        lref_codon.append(effect.ref_codon)
        lalt_codon.append(effect.alt_codon)
        laa_pos.append(effect.aa_pos)
        lref_aa.append(effect.ref_aa)
        lalt_aa.append(effect.alt_aa)
        laa_change.append(effect.aa_change)

In [113]:
len(pos)

2838

In [114]:
len(lpos)

2442

In [115]:
s = set(lpos)
missing = [x for x in pos if x not in s]

In [118]:
len(missing) + len(lpos)

2838

In [120]:
missing

[28597652,
 28597652,
 28597652,
 28597653,
 28597653,
 28597653,
 28597654,
 28597654,
 28597654,
 28597655,
 28597655,
 28597655,
 28597656,
 28597656,
 28597656,
 28597657,
 28597657,
 28597657,
 28597658,
 28597658,
 28597658,
 28597659,
 28597659,
 28597659,
 28597660,
 28597660,
 28597660,
 28597661,
 28597661,
 28597661,
 28597662,
 28597662,
 28597662,
 28597663,
 28597663,
 28597663,
 28597664,
 28597664,
 28597664,
 28597669,
 28597669,
 28597669,
 28597672,
 28597672,
 28597672,
 28597673,
 28597673,
 28597673,
 28597675,
 28597675,
 28597675,
 28597676,
 28597676,
 28597676,
 28597677,
 28597677,
 28597677,
 28597679,
 28597679,
 28597679,
 28597680,
 28597680,
 28597680,
 28597681,
 28597681,
 28597681,
 28597682,
 28597682,
 28597682,
 28597685,
 28597685,
 28597685,
 28597686,
 28597686,
 28597686,
 28597687,
 28597687,
 28597687,
 28597688,
 28597688,
 28597688,
 28597689,
 28597689,
 28597689,
 28597690,
 28597690,
 28597690,
 28597691,
 28597691,
 28597691,
 28597692,
 28597692,
 28597692,
 28597693,
 28597693,
 28597693,
 28597694,
 28597694,
 28597694,
 28597695,
 28597695,
 28597695,
 28597696,
 28597696,
 28597696,
 28597697,
 28597697,
 28597697,
 28597698,
 28597698,
 28597698,
 28597699,
 28597699,
 28597699,
 28597700,
 28597700,
 28597700,
 28597701,
 28597701,
 28597701,
 28597702,
 28597702,
 28597702,
 28597703,
 28597703,
 28597703,
 28597704,
 28597704,
 28597704,
 28597705,
 28597705,
 28597705,
 28597706,
 28597706,
 28597706,
 28597708,
 28597708,
 28597708,
 28597709,
 28597709,
 28597709,
 28597710,
 28597710,
 28597710,
 28597711,
 28597711,
 28597711,
 28597712,
 28597712,
 28597712,
 28597713,
 28597713,
 28597713,
 28597714,
 28597714,
 28597714,
 28597715,
 28597715,
 28597715,
 28597716,
 28597716,
 28597716,
 28597717,
 28597717,
 28597717,
 28597718,
 28597718,
 28597718,
 28597719,
 28597719,
 28597719,
 28597720,
 28597720,
 28597720,
 28597721,
 28597721,
 28597721,
 28597722,
 28597722,
 28597722,
 28597724,
 28597724,
 28597724,
 28597725,
 28597725,
 28597725,
 28597726,
 28597726,
 28597726,
 28597727,
 28597727,
 28597727,
 28597728,
 28597728,
 28597728,
 28597730,
 28597730,
 28597730,
 28597731,
 28597731,
 28597731,
 28597745,
 28597745,
 28597745,
 28597746,
 28597746,
 28597746,
 28597747,
 28597747,
 28597747,
 28597748,
 28597748,
 28597748,
 28597749,
 28597749,
 28597749,
 28597750,
 28597750,
 28597750,
 28598581,
 28598581,
 28598581,
 28598582,
 28598582,
 28598582,
 28598583,
 28598583,
 28598583,
 28598584,
 28598584,
 28598584,
 28598585,
 28598585,
 28598585,
 28598586,
 28598586,
 28598586,
 28598587,
 28598587,
 28598587,
 28598588,
 28598588,
 28598588,
 28598589,
 28598589,
 28598589,
 28598590,
 28598590,
 28598590,
 28598591,
 28598591,
 28598591,
 28598592,
 28598592,
 28598592,
 28598593,
 28598593,
 28598593,
 28598594,
 28598594,
 28598594,
 28598595,
 28598595,
 28598595,
 28598596,
 28598596,
 28598596,
 28598597,
 28598597,
 28598597,
 28598598,
 28598598,
 28598598,
 28598599,
 28598599,
 28598599,
 28598600,
 28598600,
 28598600,
 28598601,
 28598601,
 28598601,
 28598602,
 28598602,
 28598602,
 28598603,
 28598603,
 28598603,
 28598604,
 28598604,
 28598604,
 28598605,
 28598605,
 28598605,
 28598606,
 28598606,
 28598606,
 28598607,
 28598607,
 28598607,
 28598608,
 28598608,
 28598608,
 28598609,
 28598609,
 28598609,
 28598610,
 28598610,
 28598610,
 28598611,
 28598611,
 28598611,
 28598612,
 28598612,
 28598612,
 28598613,
 28598613,
 28598613,
 28598614,
 28598614,
 28598614,
 28598615,
 28598615,
 28598615,
 28598616,
 28598616,
 28598616,
 28598617,
 28598617,
 28598617,
 28598618,
 28598618,
 28598618,
 28598619,
 28598619,
 28598619,
 28598620,
 28598620,
 28598620,
 28598621,
 28598621,
 28598621,
 28598622,
 28598622,
 28598622,
 28598623,
 28598623,
 28598623,
 28598624,
 28598624,
 28598624,
 28598625,
 28598625,
 28598625,
 28598626,
 28598626,
 28598626,
 28598627,
 28598627,
 28598627,
 28598628,
 28598628,
 28598628,
 28598629,
 28598629,
 28598629,
 28598630,
 28598630,
 28598630,
 28598631,
 28598631,
 28598631,
 28598632,
 28598632,
 28598632,
 28598633,
 28598633,
 28598633,
 28598634,
 28598634,
 28598634,
 28598635,
 28598635,
 28598635,
 28598636,
 28598636,
 28598636,
 28598637,
 28598637,
 28598637,
 28598638,
 28598638,
 28598638,
 28598639,
 28598639,
 28598639]

In [128]:
%%time
for effect in ann.get_effects(chrom='3R', pos=28597652, ref='G', alt='A',
                                  transcript_ids=[gste2]):
       print(effect)

CPU times: user 376 Âµs, sys: 13 Âµs, total: 389 Âµs
Wall time: 398 Âµs

In [48]:
e = ag3.snp_single_effect('3R', pos=28598166, ref='A', alt='G', transcript=[gste2])
e

VariantEffect(effect='NON_SYNONYMOUS_CODING', impact='MODERATE', chrom='3R', pos=28598166, ref='A', alt='G', vlen=0, ref_start=28598166, ref_stop=28598166, gene_id='AGAP009194', gene_start=28597652, gene_stop=28598640, gene_strand='-', transcript_id='AGAP009194-RA', transcript_start=28597652, transcript_stop=28598640, transcript_strand='-', cds_id='AGAP009194-PA', cds_start=28598162, cds_stop=28598362, cds_strand='-', intron_start=None, intron_stop=None, intron_5prime_dist=None, intron_3prime_dist=None, intron_cds_5prime=None, intron_cds_3prime=None, ref_cds_start=340, ref_cds_stop=340, ref_intron_start=None, ref_intron_stop=None, ref_start_phase=1, ref_codon='aTt', alt_codon='aCt', codon_change='aTt/aCt', aa_pos=114, ref_aa='I', alt_aa='T', aa_change='I114T')

In [49]:
type(e)

malariagen_data.veff.VariantEffect

In [56]:
e = ag3.snp_single_effect('3R', pos=28597652, ref='G', alt='A',
                                  transcript=[gste2])
e

VariantEffect(effect='UTR_VARIANT', impact='LOW', chrom='3R', pos=28597652, ref='G', alt='A', vlen=0, ref_start=28597652, ref_stop=28597652, gene_id='AGAP009194', gene_start=28597652, gene_stop=28598640, gene_strand='-', transcript_id='AGAP009194-RA', transcript_start=28597652, transcript_stop=28598640, transcript_strand='-', cds_id=None, cds_start=None, cds_stop=None, cds_strand=None, intron_start=None, intron_stop=None, intron_5prime_dist=None, intron_3prime_dist=None, intron_cds_5prime=None, intron_cds_3prime=None, ref_cds_start=None, ref_cds_stop=None, ref_intron_start=None, ref_intron_stop=None, ref_start_phase=None, ref_codon=None, alt_codon=None, codon_change=None, aa_pos=None, ref_aa=None, alt_aa=None, aa_change=None)

In [57]:
assert e.effect == 'UTR_VARIANT'

# working out test parameters

### reverse strand

In [10]:
df = ag3.snp_effects(gste2, site_mask)

transcript : AGAP009194-RA
chromosome : 3R
start : 28597652
stop : 28598640
strand : -

In [11]:
a = df.columns[:]

In [50]:
b = ['position', 'ref_allele', 'alt_alleles', 'effect', 'impact',
       'ref_codon', 'alt_codon', 'aa_pos', 'ref_aa', 'alt_aa', 'aa_change']

In [52]:
assert isinstance(df, pd.DataFrame)

In [35]:
for e in b:
    assert e in a

In [38]:
assert df.shape == (2838, 11)

In [14]:
df[df.effect == 'FIVE_PRIME_UTR']

,position,ref_allele,alt_alleles,effect,impact,ref_codon,alt_codon,aa_pos,ref_aa,alt_aa,aa_change
2661,28598581,T,A,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2662,28598581,T,C,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2663,28598581,T,G,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2664,28598582,T,A,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2665,28598582,T,C,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
2833,28598638,C,T,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2834,28598638,C,G,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2835,28598639,C,A,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2836,28598639,C,T,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2837,28598639,C,G,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None

In [17]:
df.iloc[1451]

position                    28598166
ref_allele                         A
alt_alleles                        G
effect         NON_SYNONYMOUS_CODING
impact                      MODERATE
ref_codon                        aTt
alt_codon                        aCt
aa_pos                           114
ref_aa                             I
alt_aa                             T
aa_change                      I114T
Name: 1451, dtype: object

In [53]:
assert df.iloc[1451].aa_change == 'I114T'

In [16]:
df = ag3.snp_effects(gste2, site_mask)

transcript : AGAP009194-RA
chromosome : 3R
start : 28597652
stop : 28598640
strand : -

In [17]:
df

,position,ref_allele,alt_alleles,effect,impact,ref_codon,alt_codon,aa_pos,ref_aa,alt_aa,aa_change
0,28597652,G,A,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
1,28597652,G,C,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2,28597652,G,T,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
3,28597653,A,C,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
4,28597653,A,T,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
2833,28598638,C,T,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2834,28598638,C,G,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2835,28598639,C,A,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2836,28598639,C,T,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2837,28598639,C,G,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None

### forward strand

In [21]:
gste6 = "AGAP009196-RA"

In [22]:
df = ag3.snp_effects(gste6, site_mask)

transcript : AGAP009196-RA
chromosome : 3R
start : 28600347
stop : 28601354
strand : +

In [24]:
df.shape

(2829, 11)

In [34]:
df[900:]

,position,ref_allele,alt_alleles,effect,impact,ref_codon,alt_codon,aa_pos,ref_aa,alt_aa,aa_change
900,28600670,G,A,INTRONIC,MODIFIER,None,None,NaN,None,None,None
901,28600670,G,C,INTRONIC,MODIFIER,None,None,NaN,None,None,None
902,28600670,G,T,INTRONIC,MODIFIER,None,None,NaN,None,None,None
903,28600671,G,A,INTRONIC,MODIFIER,None,None,NaN,None,None,None
904,28600671,G,C,INTRONIC,MODIFIER,None,None,NaN,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
2824,28601353,A,T,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2825,28601353,A,G,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2826,28601354,A,C,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2827,28601354,A,T,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
2828,28601354,A,G,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None

### introns in UTRs

In [34]:
geneset[geneset.Parent == "AGAP004679-RB"]

,seqid,source,type,start,end,score,strand,phase,ID,Parent,Name
34,2L,VectorBase,exon,207894,207953,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E1
35,2L,VectorBase,five_prime_UTR,207894,207953,NaN,+,NaN,NaN,AGAP004679-RB,NaN
36,2L,VectorBase,five_prime_UTR,208393,208416,NaN,+,NaN,NaN,AGAP004679-RB,NaN
37,2L,VectorBase,exon,208393,208581,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E2
38,2L,VectorBase,CDS,208417,208581,NaN,+,0.0,AGAP004679-PB,AGAP004679-RB,NaN
39,2L,VectorBase,exon,208639,208824,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E3
40,2L,VectorBase,CDS,208639,208824,NaN,+,0.0,AGAP004679-PB,AGAP004679-RB,NaN
41,2L,VectorBase,exon,208897,209394,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E4
42,2L,VectorBase,CDS,208897,209394,NaN,+,0.0,AGAP004679-PB,AGAP004679-RB,NaN
43,2L,VectorBase,exon,209473,209816,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E5
44,2L,VectorBase,CDS,209473,209816,NaN,+,0.0,AGAP004679-PB,AGAP004679-RB,NaN
45,2L,VectorBase,CDS,209877,210276,NaN,+,1.0,AGAP004679-PB,AGAP004679-RB,NaN
46,2L,VectorBase,exon,209877,210460,NaN,+,NaN,NaN,AGAP004679-RB,AGAP004679-RB-E6
47,2L,VectorBase,three_prime_UTR,210277,210460,NaN,+,NaN,NaN,AGAP004679-RB,NaN

In [55]:
#this gene has a 5' utr
utrintron5 = "AGAP004679-RB"
df = ag3.snp_effects(utrintron5, site_mask)

transcript : AGAP004679-RB
chromosome : 2L
start : 207894
stop : 210460
strand : +

In [38]:
df[178:]

,position,ref_allele,alt_alleles,effect,impact,ref_codon,alt_codon,aa_pos,ref_aa,alt_aa,aa_change
178,207953,T,C,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
179,207953,T,G,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
180,207954,G,A,INTRAGENIC,LOW,None,None,NaN,None,None,None
181,207954,G,C,INTRAGENIC,LOW,None,None,NaN,None,None,None
182,207954,G,T,INTRAGENIC,LOW,None,None,NaN,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
7681,210459,A,T,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
7682,210459,A,G,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
7683,210460,G,A,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
7684,210460,G,C,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
7685,210460,G,T,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None

In [54]:
df[1490:]

,position,ref_allele,alt_alleles,effect,impact,ref_codon,alt_codon,aa_pos,ref_aa,alt_aa,aa_change
1490,208392,G,T,INTRAGENIC,LOW,None,None,NaN,None,None,None
1491,208393,C,A,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
1492,208393,C,T,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
1493,208393,C,G,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
1494,208394,T,A,FIVE_PRIME_UTR,LOW,None,None,NaN,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
7681,210459,A,T,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
7682,210459,A,G,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
7683,210460,G,A,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
7684,210460,G,C,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None
7685,210460,G,T,THREE_PRIME_UTR,LOW,None,None,NaN,None,None,None

# SNP allele frequencies

In [58]:
%%time
df_meta, gt = ag3.snp_allele_frequencies("AGAP004707-RD", "gamb_colu")

transcript : AGAP004707-RD
chromosome : 2L
start : 2358158
stop : 2431617
strand : +

/home/chris/.cache/pypoetry/virtualenvs/malariagen-data-mfr76-fD-py3.6/lib/python3.6/site-packages/dask/array/routines.py:1247: PerformanceWarning: Slicing is producing a large chunk. To accept the large
chunk and silence this warning, set the option
    >>> with dask.config.set(**{'array.slicing.split_large_chunks': False}):
    ...     array[indexer]

To avoid creating the large chunks, set the option
    >>> with dask.config.set(**{'array.slicing.split_large_chunks': True}):
    ...     array[indexer]
  a = a[tuple(condition if i == axis else slice(None) for i in range(a.ndim))]

CPU times: user 42.4 s, sys: 12.3 s, total: 54.6 s
Wall time: 4min 3s

In [13]:
df

,position,ref_allele,alt_alleles,effect,impact,ref_codon,alt_codon,aa_pos,ref_aa,alt_aa,aa_change
0,2358158,A,C,START_LOST,HIGH,Atg,Ctg,1.0,M,L,M1L
1,2358158,A,T,START_LOST,HIGH,Atg,Ttg,1.0,M,L,M1L
2,2358158,A,G,START_LOST,HIGH,Atg,Gtg,1.0,M,V,M1V
3,2358159,T,A,NON_SYNONYMOUS_CODING,MODERATE,aTg,aAg,1.0,M,K,M1K
4,2358159,T,C,NON_SYNONYMOUS_CODING,MODERATE,aTg,aCg,1.0,M,T,M1T
...,...,...,...,...,...,...,...,...,...,...,...
132301,2431616,G,C,STOP_LOST,HIGH,tGa,tCa,2119.0,*,S,*2119S
132302,2431616,G,T,STOP_LOST,HIGH,tGa,tTa,2119.0,*,L,*2119L
132303,2431617,A,C,STOP_LOST,HIGH,tgA,tgC,2119.0,*,C,*2119C
132304,2431617,A,T,STOP_LOST,HIGH,tgA,tgT,2119.0,*,C,*2119C
132305,2431617,A,G,STOP_LOST,HIGH,tgA,tgG,2119.0,*,W,*2119W

In [138]:
len(gt) *3

132306

In [123]:
df_meta.loc[df_meta.country == 'AG1000G-UG']

,sample_id,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,release,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,species
2494,AC0007-C,1_A2,Martin Donnelly,Uganda,Nagongera,2012,10,0.770,34.026,F,AG1000G-UG,v3,0.458,0.741,arabiensis,NaN,arabiensis
2495,AC0008-C,1_A6,Martin Donnelly,Uganda,Nagongera,2012,10,0.770,34.026,F,AG1000G-UG,v3,0.456,0.740,arabiensis,NaN,arabiensis
2496,AC0009-Cx,1_A7,Martin Donnelly,Uganda,Nagongera,2012,10,0.770,34.026,F,AG1000G-UG,v3,0.458,0.746,arabiensis,NaN,arabiensis
2497,AC0010-C,1_A9,Martin Donnelly,Uganda,Nagongera,2012,10,0.770,34.026,F,AG1000G-UG,v3,0.452,0.743,arabiensis,NaN,arabiensis
2498,AC0011-C,1_B5,Martin Donnelly,Uganda,Nagongera,2012,10,0.770,34.026,F,AG1000G-UG,v3,0.455,0.745,arabiensis,NaN,arabiensis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,AC0295-C,K92,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,v3,0.026,0.002,gamb_colu,gambiae,gambiae
2780,AC0296-C,K93,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,v3,0.029,0.003,gamb_colu,gambiae,gambiae
2781,AC0297-C,K94,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,v3,0.026,0.002,gamb_colu,gambiae,gambiae
2782,AC0298-C,K95,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,v3,0.029,0.002,gamb_colu,gambiae,gambiae
2783,AC0299-C,K96,Martin Donnelly,Uganda,Kihihi,2012,11,-0.751,29.701,F,AG1000G-UG,v3,0.029,0.002,gamb_colu,gambiae,gambiae