In [1]:
import sys
sys.path.insert(0, "..")
import malariagen_data

In [2]:
ag3 = malariagen_data.Ag3("gs://vo_agam_release")

In [3]:
df_samples = ag3.sample_metadata(sample_sets="AG1000G-X")
df_samples

,sample_id,partner_sample_id,contributor,country,location,year,month,latitude,longitude,sex_call,sample_set,release,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,species
0,AC0300-C,KF2,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
1,AC0301-C,K2_O_M1,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
2,AC0303-C,K2_O_M3,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
3,AC0304-C,K2_O_M4,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
4,AC0305-C,K2_O_M5,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,AD0494-C,80-2-o-16,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
293,AD0495-C,80-2-o-17,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
294,AD0496-C,80-2-o-18,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
295,AD0497-C,80-2-o-19,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,F,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN
296,AD0498-C,80-2-o-20,Martin Donnelly,Lab Cross,LSTM,-1,-1,53.409,-2.969,M,AG1000G-X,v3,NaN,NaN,NaN,NaN,NaN

In [4]:
df_samples["sex_call"].value_counts()

M    165
F    132
Name: sex_call, dtype: int64

In [5]:
df_species = ag3.species_calls(sample_sets="AG1000G-X")
df_species

,sample_id,aim_fraction_colu,aim_fraction_arab,species_gambcolu_arabiensis,species_gambiae_coluzzii,species
0,AC0300-C,NaN,NaN,NaN,NaN,NaN
1,AC0301-C,NaN,NaN,NaN,NaN,NaN
2,AC0303-C,NaN,NaN,NaN,NaN,NaN
3,AC0304-C,NaN,NaN,NaN,NaN,NaN
4,AC0305-C,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
292,AD0494-C,NaN,NaN,NaN,NaN,NaN
293,AD0495-C,NaN,NaN,NaN,NaN,NaN
294,AD0496-C,NaN,NaN,NaN,NaN,NaN
295,AD0497-C,NaN,NaN,NaN,NaN,NaN
296,AD0498-C,NaN,NaN,NaN,NaN,NaN

In [7]:
df_crosses = ag3.cross_metadata()
df_crosses

    cross sample_id father_id mother_id sex     role
0    18-5  AD0142-C       NaN       NaN   F   parent
1    18-5  AD0143-C       NaN       NaN   M   parent
2    18-5  AD0163-C  AD0143-C  AD0142-C   M  progeny
3    18-5  AD0162-C  AD0143-C  AD0142-C   F  progeny
4    18-5  AD0161-C  AD0143-C  AD0142-C   M  progeny
..    ...       ...       ...       ...  ..      ...
293    K6  AC0346-C  AC0398-C  AC0334-C   M  progeny
294    K6  AC0347-C  AC0398-C  AC0334-C   M  progeny
295    K6  AC0348-C  AC0398-C  AC0334-C   M  progeny
296    K6  AC0335-C  AC0398-C  AC0334-C   M  progeny
297    K6  AC0342-C  AC0398-C  AC0334-C   M  progeny

[298 rows x 6 columns]

In [8]:
df_crosses["sex"].value_counts(dropna=False)

M    166
F    132
Name: sex, dtype: int64

In [9]:
set(df_crosses["sample_id"]) - set(df_samples["sample_id"])

set()

In [10]:
set(df_samples["sample_id"]) - set(df_crosses["sample_id"])

set()

In [11]:
len(df_crosses), len(df_samples)

(298, 297)

In [12]:
len(df_crosses['sample_id'].unique())

297

Aah, remember now that one of the parents is a father of two crosses. All should be OK.

In [13]:
df_crosses[df_crosses['role'] == 'parent']

    cross sample_id father_id mother_id sex    role
0    18-5  AD0142-C       NaN       NaN   F  parent
1    18-5  AD0143-C       NaN       NaN   M  parent
22   29-2  AD0231-C       NaN       NaN   F  parent
23   29-2  AD0232-C       NaN       NaN   M  parent
44   36-9  AD0254-C       NaN       NaN   F  parent
45   36-9  AD0255-C       NaN       NaN   M  parent
66   37-3  AD0277-C       NaN       NaN   F  parent
67   37-3  AD0278-C       NaN       NaN   M  parent
88   42-4  AD0305-C       NaN       NaN   F  parent
89   42-4  AD0306-C       NaN       NaN   M  parent
104  45-1  AD0324-C       NaN       NaN   F  parent
105  45-1  AD0325-C       NaN       NaN   M  parent
126  46-9  AD0347-C       NaN       NaN   F  parent
127  46-9  AD0348-C       NaN       NaN   M  parent
148  47-6  AD0371-C       NaN       NaN   F  parent
149  47-6  AD0372-C       NaN       NaN   M  parent
170  73-2  AD0422-C       NaN       NaN   F  parent
171  73-2  AD0423-C       NaN       NaN   M  parent
191  78-2  AD0447-C       NaN       NaN   F  parent
192  78-2  AD0448-C       NaN       NaN   M  parent
211  80-2  AD0473-C       NaN       NaN   F  parent
212  80-2  AD0474-C       NaN       NaN   M  parent
233    B5  AC0382-C       NaN       NaN   F  parent
234    B5  AC0416-C       NaN       NaN   M  parent
246    K2  AC0300-C       NaN       NaN   F  parent
247    K2  AC0406-C       NaN       NaN   M  parent
263    K4  AC0317-C       NaN       NaN   F  parent
264    K4  AC0398-C       NaN       NaN   M  parent
281    K6  AC0334-C       NaN       NaN   F  parent
282    K6  AC0398-C       NaN       NaN   M  parent